version: "3"

services:

  updater:
    build:
      context: updater
      dockerfile: ./Dockerfile
    volumes:
      - ./updater:/updater
      - ./data:/data
      - ./shared_config:/shared_config
      - ./.git:/.git/:ro
      - nginx_cache:/nginx_cache:rw

  gunicorn:
    build:
      context: dash
      dockerfile: ./Dockerfile
    expose:
      - 80
    networks:
      - default
    volumes:
      - ./dash:/dash
      - ./data:/data
      - ./blog:/blog
      - ./shared_config:/shared_config
      - ./.git:/.git/:ro

  cache:
    image: nginx
    expose:
      - 80
    networks:
      - default
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - nginx_cache:/nginx_cache:rw
    labels:
      - traefik.backend=website
      - traefik.docker.network=web
      - traefik.frontend.rule=Host:business-forecast-lab.com
      - traefik.enable=true
      - traefik.port=80

  traefik:
    image: traefik:alpine
    ports:
      - 80:80
      - 443:443
    networks:
      - web
      - default
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik/traefik.toml:/traefik.toml
      - ./shared_config/acme.json:/acme.json

volumes:
  nginx_cache:

networks:
  web:
    external: true