Jinja2==3.1.2
MarkupSafe==2.1.1
PyYAML==6.0
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
idna==3.3
joblib==1.2.0
kaleido==0.2.1
numpy==1.22.4
packaging==21.3
pandas==1.4.2
patsy==0.5.2
plotly==5.8.0
prophet==1.1
pycparser==2.21
pyparsing==3.0.9
python-dateutil==2.8.2
python-slugify==6.1.2
pytz-deprecation-shim==0.1.0.post0
pytz==2022.1
requests==2.27.1
rpy2==3.5.2
scikit-learn==1.1.1
scipy==1.8.1
six==1.16.0
statsmodels==0.13.2
tabulate==0.8.9
threadpoolctl==3.1.0
torch==1.11.0
typing_extensions==4.2.0
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
wbgapi==1.0.7
